<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zp29.net.workfolw</string>
	<key>connections</key>
	<dict>
		<key>23C341E5-DBC5-4A9C-ABB2-901162FFF624</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFCB7076-4A16-4972-8574-F683E7A6BE6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CEA981C-BB5A-4CE7-82EC-0E48543A9E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0131A66-BBC1-44E7-9C24-C836218E0EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76B370EC-333C-4B90-9849-9960FC373C84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0C3171D-3FA1-460E-A41D-BF71600DC682</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8303708C-1C02-4615-824A-7EC758C160EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D2A97AE-3AB2-43AB-9A34-B2577D3FFD30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6CAB05B-ADE0-41D8-A1C6-E038C0A58517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23C341E5-DBC5-4A9C-ABB2-901162FFF624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD4C5871-2CFD-4C68-87F9-A8231CF9F800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A825B385-D092-4864-86EA-6ED3ACB7821F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFCB7076-4A16-4972-8574-F683E7A6BE6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF61E2AC-60E7-4D36-AB41-1D2129BEC958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zp29</string>
	<key>description</key>
	<string>me</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zp29-Workfolw</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BF61E2AC-60E7-4D36-AB41-1D2129BEC958</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run(argv) {
  let string = argv[0];
  let queryArray = string.split(' ')
  console.log('..... -&gt;', queryArray)
  let [num, addStr = ''] = queryArray
  const max = parseInt(num)
  let res = ''
  for (let i = 0; i &lt; max; i++) {
    res += `\n${i}${addStr}`
  }
  return res.substring(1);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23C341E5-DBC5-4A9C-ABB2-901162FFF624</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>seq</string>
				<key>subtext</key>
				<string>生成序列</string>
				<key>text</key>
				<string>生成序列</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F6CAB05B-ADE0-41D8-A1C6-E038C0A58517</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FFCB7076-4A16-4972-8574-F683E7A6BE6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>makeapi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node makeapi.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>makeapi</string>
				<key>title</key>
				<string>makeapi</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CEA981C-BB5A-4CE7-82EC-0E48543A9E3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A0131A66-BBC1-44E7-9C24-C836218E0EDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
  
	tell application "Easydict"
    launch
    -- theQuery
    open location "easydict://query?text="&amp;theQuery
  end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D2A97AE-3AB2-43AB-9A34-B2577D3FFD30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fanyi</string>
				<key>subtext</key>
				<string>请输入翻译的内容</string>
				<key>text</key>
				<string>bob fanyi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8303708C-1C02-4615-824A-7EC758C160EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C0C3171D-3FA1-460E-A41D-BF71600DC682</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gettoken</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node getToken.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入手机号！</string>
				<key>title</key>
				<string>get Token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76B370EC-333C-4B90-9849-9960FC373C84</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>time</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node time.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入时间、时间戳或者now</string>
				<key>title</key>
				<string>time</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD4C5871-2CFD-4C68-87F9-A8231CF9F800</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A825B385-D092-4864-86EA-6ED3ACB7821F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>23C341E5-DBC5-4A9C-ABB2-901162FFF624</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4CEA981C-BB5A-4CE7-82EC-0E48543A9E3D</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4D2A97AE-3AB2-43AB-9A34-B2577D3FFD30</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>76B370EC-333C-4B90-9849-9960FC373C84</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>8303708C-1C02-4615-824A-7EC758C160EA</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A0131A66-BBC1-44E7-9C24-C836218E0EDC</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A825B385-D092-4864-86EA-6ED3ACB7821F</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>BF61E2AC-60E7-4D36-AB41-1D2129BEC958</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C0C3171D-3FA1-460E-A41D-BF71600DC682</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F6CAB05B-ADE0-41D8-A1C6-E038C0A58517</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>FD4C5871-2CFD-4C68-87F9-A8231CF9F800</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>FFCB7076-4A16-4972-8574-F683E7A6BE6B</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
